@{

}

<nav class="container-fluid observer-target observer-anim-fade-in observer-anim-delay-3">
	<ul class="nav justify-content-center justify-content-md-end pe-md-5">
		<li class="nav-item">
			<a asp-controller="Home" asp-action="Index" class="nav-link link-dark fox-nav-link">Home</a>
		</li>
		<li class="nav-item">
			<a asp-controller="Home" asp-action="About" class="nav-link link-dark fox-nav-link">About</a>
		</li>
		<li class="nav-item">
			<a asp-controller="Home" asp-action="Contact" class="nav-link link-dark fox-nav-link">Contact</a>
		</li>
	</ul>
</nav>