@{

}

<nav class="container-fluid p-1 fox-nav observer-target observer-anim-fade-in observer-anim-delay-1">
	<ul class="nav justify-content-center text-uppercase">
		<li class="nav-item">
			<a asp-controller="Home" asp-action="Index" 
			   class="nav-link link-dark link-opacity-75 link-opacity-100-hover link-underline link-underline-opacity-0 link-underline-opacity-100-hover">
				Home
			</a>
		</li>
		<li class="nav-item">
			<a asp-controller="Home" asp-action="About" 
			   class="nav-link link-dark link-opacity-75 link-opacity-100-hover link-underline link-underline-opacity-0 link-underline-opacity-100-hover">
				About
			</a>
		</li>
		<li class="nav-item">
			<a asp-controller="Home" asp-action="Contact" 
			   class="nav-link link-dark link-opacity-75 link-opacity-100-hover link-underline link-underline-opacity-0 link-underline-opacity-100-hover">
				Contact
			</a>
		</li>
	</ul>
</nav>