@{
	ViewData["Title"] = "About";
}

<div class="container">
	<h1 class="display-1">About</h1>
	<p>I was born in Henderson, Nevada almost three decades ago.</p>
	<p>From an early age I showed interest for computers and that grew into a passion during high school.</p>
	<p>
		I got into web design and development in college. Attending the
		Carnegie Mellon University in Pittsburgh was the best decision I
		ever made because it showed me what I wanted to do for the rest
		of my life.
	</p>
	<p>Currently I help businesses all around the world by designing and coding websites and mobile apps.</p>
	<p>I had the pleasure of working with big companies like Apple, Microsoft and Amazon, just to name a few.</p>
	<p>Right now I’m based in New York.</p>
</div>