@{
	ViewData["Title"] = "Index";
}

@section PageHeader {
	<div class="p-5 my-5 text-center observer-target observer-anim-fade-in observer-anim-delay-2">
		<h1 class="display-1">Robert Fox</h1>
		<p class="lead">freelance UI designer and web developer</p>
	</div>
}

<h1 class="display-1">Index</h1>
<p>Paragraph</p>