@{
	ViewData["Title"] = "Index";
}

@section PageHeader {
	<div class="container text-center p-5 observer-target observer-anim-fade-in">
		<h1 class="display-1 fw-bold">Robert Fox</h1>
		<p class="lead mb-3">Freelance UI designer and web developer</p>
		<a href="#" class="btn btn-outline-dark mx-auto">About me</a>
	</div>
}

<h2 class="display-2">Index</h2>