@{
	ViewData["Title"] = "Index";
}

@section PageHeader {
	<div class="my-5 py-5 text-center observer-target observer-anim-fade-in observer-anim-delay-2">
		<h1 class="display-1">Robert Fox</h1>
		<p class="lead">freelance UI designer and web developer</p>
	</div>
}

<div class="container">
	<p class="mb-5 text-center fw-light">
		Looking for a designer and developer that likes to get stuff done?
		<a asp-controller="Home" asp-action="Contact" class="btn btn-outline-dark d-block w-50 mx-auto my-3">Lets talk</a>
	</p>
	<div class="mb-5 fs-2 d-flex justify-content-center column-gap-5">
		<i class="bi bi-amazon"></i>
		<i>Adobe</i>
		<i class="bi bi-apple"></i>
		<i class="bi bi-github"></i>
		<i class="bi bi-microsoft"></i>
	</div>

	<div class="row row-cols-1 row-cols-md-2">
		<div class="col">
			<q>Working with Robert has been an absolute pleasure and we’ll definitely turn to his expertise for new projects.</q>
			<p class="fw-light">James Wittings, Marketing Director at Amazon</p>
		</div>
		<div class="col">
			<q>Robert is great. We worked together really well and we’ll definitely contract his services in the future.</q>
			<p class="fw-light">Sandra Marks, Creative Director at GitHub</p>
		</div>
	</div>
</div>