@{
	ViewData["Title"] = "Index";
}

@section PageHeader {
	<div class="container text-center p-5 observer-target observer-anim-fade-in observer-anim-delay-2">
		<h1 class="display-1 fw-bold">Robert Fox</h1>
		<p class="lead mb-5">Freelance UI designer and web developer</p>
		<a href="#about" class="btn btn-outline-dark mx-auto">About me</a>
	</div>
}

<!-- index -->
<div class="container p-5 text-center border-bottom border-dark">
	<div class="d-flex flex-row justify-content-around gap-3 fs-1">
		<i class="bi bi-amazon"></i>
		<i class="bi bi-adobe">Adobe</i>
		<i class="bi bi-apple"></i>
		<i class="bi bi-github"></i>
		<i class="bi bi-microsoft"></i>
	</div>
</div>

<!-- about -->
<div class="container min-vh-100" id="about">
	<h2 class="display-2">About</h2>
	<a href="#" class="btn mx-auto">Back to top <i class="bi bi-arrow-up-circle"></i></a>
</div>

<!-- contact -->
<div class="container min-vh-100" id="contact">
	<h2 class="display-2">Contact</h2>
	<a href="#" class="btn mx-auto">Back to top <i class="bi bi-arrow-up-circle"></i></a>
</div>